
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Jost:wght@300&family=Kalnia&family=Lora:ital,wght@1,600;1,700&family=Merriweather&family=Mooli&family=Roboto+Slab:wght@100;300;500;700&family=Roboto:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Light 300'
}